<div class="form" id="form-nuevo-inver">
    <div class="columna">
        <form action="/inver/add" method="POST" id="inver-form" class="form-forms" enctype="multipart/form-data">
            <h1 id="titulo1-h1">Nuevo inversionista</h1>
            <div class="contenedor-form">
                <div class="columna-1">
                    <div class="form-div">
                        <input type="text" name="razon_social" placeholder="Ingrese razón social: " class="input-form">
                    </div>
                    <div class="form-div">
                        <input type="text" name="nit" placeholder=" Ingrese el Nit: " class="input-form">
                    </div>
                    <div class="form-div">
                        <input type="text" name="nombre" placeholder="Nombre: " class="input-form" autofocus required>
                    </div>
                    <div class="form-div">
                        <input type="text" name="apellido" placeholder="Apellido: " class="input-form" required>
                    </div>
                    <div class="form-div">
                        <input type="text" name="telefono" placeholder="Teléfono fijo: " class="input-form">
                    </div>
                    <div class="form-div">
                        <input type="text" name="celular" placeholder="Celular: " class="input-form">
                    </div>
                    <div class="form-div">
                        <input type="email" name="correo" placeholder="Correo: " class="input-form">
                    </div>
                    <div class="form-div">
                        <input type="text" name="cedula" placeholder="Cédula: " class="input-form">
                    </div>
                </div>
                <div class="columna-1">
                    <div class="form-div">
                        <input type="text" name="direccion" placeholder="Dirección: " class="input-form">
                    </div>
                    <div class="form-div">
                        <input type="date" name="nacimiento" placeholder="Fecha de nacimiento: " class="input-form">
                    </div>
                    <div class="form-div">
                        <input type="text" name="estado_civil" placeholder="Estado Civil: " class="input-form" autocomplete="false">
                    </div>
                    <div class="form-div">
                        <input type="text" name="n_hijos" placeholder="Número de hijos: " class="input-form">
                    </div>
                    <div class="form-div">
                        <input type="text" name="n_mascotas" placeholder="Número de mascotas: " class="input-form">
                    </div>
                    <div class="form-div">
                        <input type="text" name="hobby" placeholder="Hobby: " class="input-form">
                    </div>
                    <div class="form-div">
                        <input type="text" name="profesion" placeholder="Profesión: " class="input-form">
                    </div>
                    <div class="form-div">
                        <input type="text" name="empresa" placeholder="Empresa: " class="input-form">
                    </div>
                    <div class="input-group mb-3">
                        <input type="file" name='image' class="upload-image" id="image">
                    </div>
                </div>
            </div>
            <button class="boton" type="submit">
                Guardar inversionista
            </button>
        </form>
    </div>
</div>