<section id="info-ppal" class="info-ppal">
        <img id="fi_img" src="/" alt="Foto Inversionista">
        <ul>
            <li>
                <p></p>
            </li>
            <li>
                <p></p>
            </li>
            <li>
                <p></p>
            </li>
        </ul>
        <div class="botones">
            <button class="up"> Modificar</button>
            <button class="up"> Eliminar</button>
        </div>
    </section>

    <section  id="info-secun" class="info-secun">
        <ul>
            <li>
                <p></p>
            </li>
            <li>
                <p></p>
            </li>
            <li>
                <p></p>
            </li>
        </ul>
        <ul>
            <li>
                <p></p>
            </li>
            <li>
                <p></p>
            </li>
            <li>
                <p></p>
            </li>
        </ul>
        <ul>
            <li>
                <p></p>
            </li>
            <li>
                <p></p>
            </li>
            <li>
                <p></p>
            </li>
        </ul>
    </section>

    <section id="sec-inversiones" class="sec-inversiones">
        <h2>Inversiones</h2>
    </section>