<section id="info-ppal" class="info-ppal">
        <img id="img" src="{{proyecto.imagePath}}"  alt="Foto Proyecto">
        <ul>
            <li>
                <p></p>
            </li>
            <li>
                <p></p>
            </li>
            <li>
                <p></p>
            </li>
        </ul>
        <div class="botones">
            <button class="up"> Modificar</button>
        </div>
    </section>

    <section  id="info-secun" class="info-secun">
        <ul>
            <li>
                <p></p>
            </li>
            <li>
                <p></p>
            </li>
            <li>
                <p></p>
            </li>
        </ul>
        <ul>
            <li>
                <p></p>
            </li>
            <li>
                <p></p>
            </li>
            <li>
                <p></p>
            </li>
        </ul>
        <ul>
            <li>
                <p></p>
            </li>
            <li>
                <p></p>
            </li>
            <li>
                <p></p>
            </li>
        </ul>
    </section>
