<div class="form" id="form-nuevo-proy">
    <div class="columna">
        <form action="/proy/add" method="POST" id="proy-form" class="form-forms" enctype="multipart/form-data">
            <h1 id="titulo3-h1">Nuevo proyecto</h1>
            <div class="contenedor-form">
                <div class="columna-1">
                    <div class="form-div">
                        <input type="text" name="nombre" id="nombre_p" placeholder="Nombre: " class="input-form"
                            autofocus>
                    </div>
                    <div class="form-div">
                        <p> Tipo de inmueble:</p>
                        <select name="tipo" class="lista-sel" id="tipo">
                            <option value="Apartamento"> Apartamento</option>
                            <option value="Casa"> Casa</option>
                            <option value="Suite"> Suite</option>
                            <option value="Local"> Local</option>
                            <option value="Lote"> Lote</option>
                        </select>
                    </div>
                    <div class="form-div">
                        <input type="text" name="direccion" id="direccion_p" placeholder="Dirección: "
                            class="input-form">
                    </div>
                    <div class="form-div">
                        <input type="number" name="rango" id="rango_p" placeholder="Rango de precios: "
                            class="input-form">
                    </div>
                    <div class="form-div">
                        <input type="text" name="municipio" id="municipio_p" placeholder="Municipio: "
                            class="input-form">
                    </div>
                </div>
                <div class="columna-1">
                    <div class="form-div">
                        <input type="text" name="departamento" id="departamento_p" placeholder="Departamento: "
                            class="input-form">
                    </div>
                    <div class="form-div">
                        <input type="text" name="estrato" id="estrato_p" placeholder="Estrato: " class="input-form">
                    </div>
                    <div class="form-div">
                        <textarea name="descripcion"  placeholder="Descripción: " class="textarea-form" rows="8" cols="65"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <input type="file" name='image' class="upload-image" id="image">
                    </div>
                </div>
            </div>
            <button class="boton" type="submit">
                Guardar proyecto
            </button>
        </form>
    </div>
</div>