<div class="form" >
    <div class="columna">
        <form action="/inversion/compra/{{inversionista.id}}" method="POST" class="form-forms">
            <h1 id="titulo1-h1">Modelo compra de inmueble</h1>
            <div class="contenedor-form">
                <div class="columna-1">
                    <div class="form-div">
                        <p> Proyecto:</p>
                        <select name="proyecto_id" class="lista-sel">
                            {{#each proyecto}}
                            <option value="{{_id}}">{{nombre}}</option>
                            {{/each}}
                        </select> 
                    </div>
                    <div class="form-div">
                        <p> Fecha de inicio:</p>
                        <input type="date" name="fecha_inicio" placeholder="Fecha de inicio: " class="input-form">
                    </div>
                    <div class="form-div">
                        <p> Fecha de cierre: </p>
                        <input type="date" name="fecha_cierre" placeholder="Fecha de cierre: " class="input-form">
                    </div>            
                    <div class="form-div">
                        <p> Valor de compra: </p>
                        <input type="number" name="valor_compra" placeholder="Valor de compra: " class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Fecha de entrega: </p>
                        <input type="date" name="fecha_entrega_prometida" placeholder="Fecha de entrega: " class="input-form">
                    </div>
                    <div class="form-div">
                        <p>TIR prometida: </p>
                        <input type="number" step="any" name="tir_prometida" placeholder="Tir prometida: " class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Escoger fecha de pago: </p>
                        <input type="radio" name="fecha_pago" class="radio" value="7"> Día 7 del mes
                        <input type="radio" name="fecha_pago" class="radio" value="20"> Día 20 del mes
                    </div>
                </div>
            </div>
            <button class="boton" type="submit">
                Crear inversión
            </button>
        </form>
    </div>
</div>