<div class="form" id="form-nuevo-inver">
    <div class="columna">
        <form action="/inversion/fnf" method="POST" id="inver-form" class="form-forms">
            <h1 id="titulo1-h1">Modelo FNF</h1>
            <div class="contenedor-form">
                <div class="columna-1">
                    <div class="form-div">
                        <p> Proyecto:</p>
                        <input type="hidden" name="inver_id" value="{{inversionista._id}}">
                        <select name="proyecto" class="lista-sel">
                            {{#each proyecto}}
                            <option value="{{nombre}}">{{nombre}}</option>
                            {{/each}}
                        </select> 
                    </div>
                    <div class="form-div">
                        <p> Fecha de inicio:</p>
                        <input type="date" name="fecha_inicio" placeholder="Fecha de inicio" class="input-form">
                    </div>
                    
                    <div class="form-div">
                        <p>Periodo de liquidación: </p>
                        <input type="text" name="periodo_liquidacion" placeholder="Periodo de liquidación"
                            class="input-form">
                    </div>            
                    <div class="form-div">
                        <p>Fecha de legalización mutuo en fiducia: </p>
                        <input type="date" name="lega_mutuo_fidu" placeholder="Fecha de legalización mutuo en fiducia"
                            class="input-form">
                    </div>            
                    <div class="form-div">
                        <p> Valor del mutuo: </p>
                        <input type="text" name="valor_mutuo" placeholder="Valor " class="input-form">
                        <input type="text" name="observaciones" placeholder="Observaciones" class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Tasa de interés: </p>
                        <input type="text" name="tasa_interes" placeholder="Tasa de interés " class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Tasa de anual: </p>
                        <input type="text" name="tasa_anual" placeholder="Tasa anual " class="input-form">
                    </div>
                   
                    <div class="form-div">
                        <p>Porcentaje cliente: </p>
                        <input type="text" name="porcentaje_cliente" placeholder="Porcentaje cliente " class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Porcentaje garantía: </p>
                        <input type="text" name="porcentaje_garantia" placeholder="Porcentaje garantía " class="input-form">
                    </div>                    
                </div>
            </div>
            <button class="boton" type="submit">
                Guardar inversión
            </button>
        </form>
    </div>
</div>