<div class="form" id="form-nuevo-inver">
    <div class="columna">
        <form action="/inversion/add/{{inversionista.id}}?_method=PUT" method="POST" id="inver-form" class="form-forms">
            <h1 id="titulo1-h1">Modelo de FNF</h1>
            <div class="contenedor-form">
                <div class="columna-1">
                    <div class="form-div">
                        <p> Garantía - Proyecto:</p>
                        <input type="hidden" name="modelo" value="fnf">
                        <select name="proyecto" class="lista-sel">
                            {{#each proyecto}}
                            <option value="{{nombre}}">{{nombre}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-div">
                        <p> Fecha de creación:</p>
                        <input type="date" name="fecha_creacion" placeholder="Fecha de creación: " class="input-form">
                    </div>
                    <div class="form-div">
                        <p> Fecha de cierre: </p>
                        <input type="date" name="fecha_cierre" placeholder="Fecha de cierre: " class="input-form">
                    </div>
                    <div class="form-div">
                        <input type="text" name="n_encargo" placeholder="Número de encargo fiduciario: "
                            class="input-form">
                    </div>
                    <div class="form-div">
                        <input type="text" name="n_apto" placeholder="Número de apartamento: " class="input-form">
                    </div>
                    <div class="form-div">
                        <input type="text" name="n_parqueadero" placeholder="Número de parqueadero: "
                            class="input-form">
                    </div>
                </div>
                <div class="columna-1">
                    <div class="form-div">
                        <input type="text" name="n_util" placeholder="Número de cuarto útil: " class="input-form">
                    </div>
                    <div class="form-div">
                        <input type="text" name="valor" placeholder="Valor de la inversión: " class="input-form">
                    </div>
                    <div class="form-div">
                        <input type="text" name="periodo" placeholder="Periodo de liquidación: " class="input-form">
                    </div>
                    <div class="form-div">
                        <input type="text" name="tasa_interes" placeholder="Tasa de interés: " class="input-form">
                    </div>
                    <div class="form-div">
                        <input type="text" name="tasa_anual" placeholder="Tasa anual: " class="input-form">
                    </div>
                    <div class="form-div">
                        <input type="text" name="pago_interes" placeholder="Pago de interéses al cliente: "
                            class="input-form">
                    </div>
                    <div class="form-div">
                        <input type="text" name="pago_interes_garantia" placeholder="Pago de interéses a la garantía: "
                            class="input-form">
                    </div>
                </div>
            </div>
            <button class="boton" type="submit">
                Guardar inversión
            </button>
        </form>
    </div>
</div>