<div class="form" >
    <div class="columna">
        <form action="/inversion/garantia/{{inversionista.id}}" method="POST" class="form-forms">
            <h1 id="titulo1-h1">Modelo compra de inmueble</h1>
            <div class="contenedor-form">
                <div class="columna-1">
                    <div class="form-div">
                        <p> Garantía - Proyecto:</p>
                        <select name="proyecto" class="lista-sel">
                            {{#each proyecto}}
                            <option value="{{nombre}}">{{nombre}}</option>
                            {{/each}}
                        </select> 
                    </div>
                    <div class="form-div">
                        <p> Fecha de inicio:</p>
                        <input type="date" name="fecha_inicio" placeholder="Fecha de inicio: " class="input-form">
                    </div>
                    <div class="form-div">
                        <p> Fecha de cierre: </p>
                        <input type="date" name="fecha_cierre" placeholder="Fecha de cierre: " class="input-form">
                    </div>
                    <div class="form-div">
                        <p> Periodo de liquidación: </p>
                        <input type="text" name="periodo_liq" placeholder="Periodo de liquidación: " class="input-form">
                    </div>         
                    <div class="form-div">
                        <p> Valor de inversión: </p>
                        <input type="text" name="valor_inversion" placeholder="Valor de inversión: " class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Tasa de interés mensual: </p>
                        <input type="text" name="tasa_int_men" placeholder="Tasa de interés mensual: " class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Tasa de interés anual: </p>
                        <input type="text" name="tasa_int_anual" placeholder="Tasa de interés anual: " class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Periodo pago intereses: </p>
                        <input type="text" name="periodo_int" placeholder="Periodo de pago intereses: " class="input-form">
                    </div>
                </div>
            </div>
            <button class="boton" type="submit">
                Crear inversión
            </button>
        </form>
    </div>
</div>