<div class="form" >
    <div class="columna">
        <form action="/inversion/garantia/{{inversionista.id}}" method="POST" class="form-forms">
            <h1 id="titulo1-h1">Modelo compra de inmueble</h1>
            <div class="contenedor-form">
                <div class="columna-1">
                    <div class="form-div">
                        <p> Garantía - Proyecto:</p>
                        <select name="proyecto" class="lista-sel">
                            {{#each proyecto}}
                            <option value="{{nombre}}">{{nombre}}</option>
                            {{/each}}
                        </select> 
                    </div>
                    <div class="form-div">
                        <p> Fecha de inicio:</p>
                        <input type="date" name="fecha_inicio" placeholder="Fecha de inicio: " class="input-form">
                    </div>
                    <div class="form-div">
                        <p> Fecha de cierre: </p>
                        <input type="date" name="fecha_cierre" placeholder="Fecha de cierre: " class="input-form">
                    </div>
                    
                    <div class="form-div">
                        <p>Periodo de liquidación: </p>
                        <select name="periodo_liquidacion" class="lista-sel">
                            <option value="1"> Mensual</option>
                            <option value="3"> Trimestral</option>
                            <option value="6"> Semestral</option>
                            <option value="24"> Final del mutuo</option>
                        </select>
                    </div>       
                    <div class="form-div">
                        <p> Valor de inversión: </p>
                        <input type="text" name="valor_inversion" placeholder="Valor de inversión: " class="input-form">
                    </div>
                    <div class="form-div">
                        <p> Duración de la inversión: </p>
                        <input type="text" name="duracion" placeholder="Escriba SOLO el número en meses: " class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Tasa de interés mensual: </p>
                        <input type="text" name="tasa_int_men" placeholder="Tasa de interés mensual: " class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Tasa de interés anual: </p>
                        <input type="text" name="tasa_int_anual" placeholder="Tasa de interés anual: " class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Escoger fecha de pago: </p>
                        <input type="radio" name="fecha_pago" class="radio" value="19"> Día 19 del mes
                    </div>
                </div>
            </div>
            <button class="boton" type="submit">
                Crear inversión
            </button>
        </form>
    </div>
</div>