<div class="form-nuevo-inver" id="form-nuevo-inver">
    <div class="columna">
        <form action="/inversion/add/{{inversionista.id}}?_method=PUT" method="POST" id="inver-form" class="inver-form">
            <h1 id="titulo1-h1">Modelo de inversión 1</h1>
            <div class="contenedor-form">
                <div class="columna-1">
                    <div class="form-div">
                        <p> Proyecto:</p>
                        <input type="hidden" name="modelo" value="1">
                        <select name="proyecto" class="lista-sel">
                            {{#each proyecto}}
                            <option value="{{nombre}}">{{nombre}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-div">
                        <p> Fecha de creación:</p>
                        <input type="date" name="fecha_creacion" placeholder="Fecha de creación: " class="input-inver">
                    </div>
                    <div class="form-div">
                        <p> Fecha de cierre: </p>
                        <input type="date" name="fecha_cierre" placeholder="Fecha de cierre: " class="input-inver">
                    </div>
                    <div class="form-div">
                        <input type="text" name="n_encargo" placeholder="Número de encargo fiduciario: "
                            class="input-inver">
                    </div>
                    <div class="form-div">
                        <input type="text" name="n_apto" placeholder="Número de apartamento: " class="input-inver">
                    </div>
                </div>
                <div class="columna-1">
                    <div class="form-div">
                        <input type="text" name="n_parqueadero" placeholder="Número de parqueadero: "
                            class="input-inver">
                    </div>
                    <div class="form-div">
                        <input type="text" name="n_util" placeholder="Número de cuarto útil: " class="input-inver">
                    </div>
                    <div class="form-div">
                        <input type="text" name="valor" placeholder="Valor de inversion: " class="input-inver">
                    </div>
                    <div class="form-div">
                        <input type="text" name="fecha_entrega" placeholder="Fecha de entrega: " class="input-inver">
                    </div>
                    <div class="form-div">
                        <input type="text" name="tir" placeholder="TIR: " class="input-inver">
                    </div>
                </div>
            </div>
            <button class="boton" type="submit">
                Guardar inversión
            </button>
        </form>
    </div>
</div>