<h1>Iniciar sesión como:</h1>

<div class="contenedor up" id="menu-ppal">

    <div class="up cajon">

        <a href="/" class="text-index">Inversionista </a>
    </div>
    <div class="up cajon">

        <a href="/usuarios/login" class="text-index">Administrador</a>
    </div>
</div>