<h1>Maquetacion de landing</h1>

<div class="contenedor up" id="menu-ppal">

    <div class="up cajon">

        <a href="/">Iniciar sesión</a>
    </div>
    <div class="up cajon">

        <a href="/usuarios/login">LogIn administrador</a>
    </div>
</div>