<h1 id="titulo-h1">Fondo de inversión FNF</h1>

<div class="contenedor up" id="menu-ppal">
        <div class="up cajon">
            {{!-- <h2>Inversionista</h2> --}}
            <div>
                <a href="/inver/add" id="crear-inver" class="btn-izq boton-cajon">Crear un inversionista</a>
            </div>
        </div>
        <div class="up cajon">
            <div>
                <a href="/inver" id="listar-inver" class="list-inver boton-cajon">Ver listado de inversionistas</a>
            </div>
        </div>
        <div class="up cajon">
            <div>

            <a class="list-proy boton-cajon">Generar reporte para inversionista</a>
            </div>

        </div>
        <div class="up cajon">
            <div>
                <a href="/proy/add" id="crear-proy" class="btn-izq boton-cajon">Crear un proyecto</a>
            </div>
        </div>
        <div class="up cajon">
            <div>
                <a href="/proy" id="listar-proy" class="list-proy boton-cajon">Ver listado de proyectos</a>
            </div>

        </div>
        
        <div class="up cajon">
            <div>

            <a class="list-proy boton-cajon">Generar reporte para FNF</a>
            </div>
        </div>
    </div>