<h1 id="titulo-h1">Fondo de inversión FNF</h1>

<div class="contenedor up" id="menu-ppal">
        <div class="up cajon">
            <h2>Inversionista</h2>
            <div>
                <a href="/inver/add" id="crear-inver" class="btn-izq boton-cajon">Crear</a>
                <a href="/" class="btn-der boton-cajon">Modificar</a>
            </div>
        </div>
        <div class="up cajon">
            <h2>Listado de inversionistas</h2>
            <div>
                <a href="/inver" id="listar-inver" class="list-inver boton-cajon">Ver</a>
            </div>

        </div>
        <div class="up cajon">
            <h2>Proyecto</h2>
            <div>
                <a href="/proy/add" id="crear-proy" class="btn-izq boton-cajon">Crear</a>
                <a href="/" class="btn-der boton-cajon">Modificar</a>
            </div>
        </div>
        <div class="up cajon">
            <h2>Listado de proyectos</h2>
            <div>
                <a href="/proy" id="listar-proy" class="list-proy boton-cajon">Ver</a>
            </div>

        </div>
        <div class="up cajon">
            <h2>Generar reporte para inversionista</h2>
            <p class="co-soon boton-cajon">Muy pronto</p>

        </div>
        <div class="up cajon">
            <h2>Generar reporte para FNF</h2>
            <p class="co-soon boton-cajon">Muy pronto</p>
        </div>
    </div>