<div class="contenedor up" id="usuario-form">
        <form id="form2" class="form-login">
            <h2>Crear Usuario</h2>
            <div class="login">
                <input id="nombre_u" class="input-inver" type="text" name="Nombre" placeholder="Nombre" autofocus
                    required>
                <input id="apellido_u" class="input-inver" type="text" name="Apellido" placeholder="Apellido" autofocus
                    required>
                <input id="telefono_u" class="input-inver" type="text" name="Telefono" placeholder="Teléfono" autofocus
                r   equired>
                <input id="correo_u" class="input-inver" type="email" name="Nombre" placeholder="Correo" autofocus
                    required>
                <input id="contrasena_u" class="input-inver" type="password" name="password" placeholder="Contraseña"
                    required>
                <input id="contrasena2_u" class="input-inver" type="password" name="password" placeholder="Repita la contraseña" autofocus
                    required>
                    <div class="input-group mb-3">
                        <input type="file" class="custom-file-input" id="image_u" required>
                        <label for="image" class="custom-file-label">Subir imágen</label>
                        <output id="list-img-u"></output>
                    </div>
                <button type='submit' id="crear_u" class="boton">
                    Crear usuario
                </button>
            </div>
        </form>
    </div>