* {
  text-decoration: none;
  color: #f3f3f3;
  font-family: "Open Sans Condensed", sans-serif; }

body {
  background: #272727 !important; }
  body h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin: 25px; }

ul,
ol {
  list-style: none; }

.highlight {
  font-style: oblique;
  font-size: 22px; }

@-webkit-keyframes autofill {
  to {
    color: #f3f3f3;
    background: transparent; } }
input::placeholder {
  color: #f3f3f3; }

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both; }

input {
  width: 100%;
  margin: 10px;
  height: 40px;
  padding: 10px; }

p {
  margin: 0; }

.titulo {
  font-size: 24px;
  font-weight: 500; }

.hide {
  display: none !important; }

.contenedor-form .columna-1 .input-group .upload-image {
  width: 60%;
  border-bottom: 2px solid #f3f3f3;
  display: flex;
  margin: 0 !important;
  padding: 0 !important;
  align-items: center; }

.boton {
  border-radius: 5px;
  background: #cfde00;
  color: #272727;
  padding: 5px 10px;
  margin: 10px; }
  .boton:hover {
    background: #272727;
    color: #f3f3f3; }

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  height: 80px;
  background: #cfde00;
  position: relative;
  bottom: 0; }
  .footer p {
    display: inline;
    padding-top: 20px;
    font-size: 24px;
    width: 100%;
    color: #272727;
    text-align: center; }
    .footer p a {
      color: #4c5c68; }

header {
  width: 100%;
  background-color: #cfde00;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px; }
  header a {
    color: #272727;
    padding: 10px; }
    header a:hover {
      cursor: pointer;
      color: #f3f3f3; }

header nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  height: 80px; }
  header nav div a {
    font-weight: 500;
    font-size: 20px; }
    header nav div a:hover {
      text-decoration: none; }
  header nav .logo {
    height: 80px;
    width: auto;
    margin-left: 10px;
    background: #f3f3f3; }
  header nav .img_usuario {
    height: 30px;
    width: auto;
    border-radius: 15px; }

.input-form {
  color: #f3f3f3;
  border-radius: 5px;
  background: linear-gradient(145deg, #2a2a2a, #232323);
  box-shadow: 9px 9px 18px #1c1c1c, -9px -9px 18px #323232;
  border: none; }
  .input-form:target {
    border: none; }

.textarea-form {
  color: #f3f3f3;
  border-radius: 5px;
  background: linear-gradient(145deg, #2a2a2a, #232323);
  box-shadow: 9px 9px 18px #1c1c1c, -9px -9px 18px #323232;
  border: none;
  margin: 10px; }
  .textarea-form:target {
    border: none; }

.form {
  color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%; }
  .form .columna {
    margin-top: 30px;
    background: #272727;
    display: flex;
    justify-content: center;
    width: 80%; }
    .form .columna .form-forms {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%; }
      .form .columna .form-forms .contenedor-form {
        display: flex;
        width: 100%;
        align-items: flex-start;
        justify-content: center; }
      .form .columna .form-forms .columna-1 {
        width: 100%;
        padding: 20px 3% 0; }
        .form .columna .form-forms .columna-1 .form-div {
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          .form .columna .form-forms .columna-1 .form-div p {
            padding-top: 20px;
            padding-left: 20px;
            width: 80%; }
      .form .columna .form-forms input {
        width: 100%;
        margin: 10px;
        height: 40px;
        padding: 10px; }
      .form .columna .form-forms .input-group {
        margin: 10px; }
      .form .columna .form-forms button {
        max-width: 200px; }
      .form .columna .form-forms .lista-sel {
        margin-top: 20px;
        color: black;
        height: 30px;
        border-radius: 5px;
        background: #f3f3f3; }
        .form .columna .form-forms .lista-sel option {
          color: black; }
      .form .columna .form-forms .radio {
        width: 10%; }

.form-login {
  color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; }

.thumb {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 5px 0 0; }

.noti-texto {
  margin: 10px;
  width: 100%;
  height: 200px; }

.info-ppal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  background: #272727;
  width: 80%;
  margin: auto;
  margin-bottom: 40px; }
  .info-ppal img {
    width: 20%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 40px; }
  .info-ppal p {
    color: #f3f3f3;
    margin: 20px;
    font-size: 20px; }
  .info-ppal button {
    color: #272727;
    background: #cfde00;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 10px 20px; }
    .info-ppal button:hover {
      background: #2b2b2b;
      color: #f3f3f3; }
  .info-ppal .botones {
    transform: translateX(70px);
    box-shadow: 18px 18px 35px #212121, -18px -18px 35px #2d2d2d;
    border-radius: 20px;
    border: 1px solid #272727;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .info-ppal .botones button {
      border-radius: 20px;
      margin: 10px;
      padding: 5px 10px; }
    .info-ppal .botones p {
      margin: 10px; }
    .info-ppal .botones .panel {
      transform: translateY(-15px);
      display: flex;
      align-items: center;
      justify-content: center; }
    .info-ppal .botones .lista-sel {
      color: black;
      height: 30px;
      border-radius: 5px;
      background: #f3f3f3; }
      .info-ppal .botones .lista-sel option {
        color: black; }
    .info-ppal .botones .delete {
      color: #f3f3f3;
      background: #4c5c68;
      border: none; }
      .info-ppal .botones .delete:hover {
        background: red; }

.info-secun {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #cfde00;
  padding: 60px; }
  .info-secun ul li p {
    color: #272727;
    margin: 20px;
    font-size: 20px; }
    .info-secun ul li p span {
      color: #272727; }
  .info-secun .text-area {
    width: 25%;
    color: #272727; }
    .info-secun .text-area span {
      color: #272727; }

.sec-inversiones .inversiones div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%; }
  .sec-inversiones .inversiones div h2 {
    margin-top: 30px;
    text-align: center; }
  .sec-inversiones .inversiones div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .sec-inversiones .inversiones div ul li {
      width: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px;
      padding: 1%;
      border-radius: 5px;
      background: linear-gradient(145deg, #2a2a2a, #232323);
      box-shadow: 9px 9px 18px #1c1c1c, -9px -9px 18px #323232;
      border: none; }
      .sec-inversiones .inversiones div ul li a {
        background: #cfde00;
        color: #272727;
        text-align: center;
        height: 40px;
        padding-top: 5px;
        width: 150px;
        padding: auto;
        border-radius: 5px; }
        .sec-inversiones .inversiones div ul li a:hover {
          text-decoration: none;
          background-color: #2b2b2b;
          color: #f3f3f3; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

input:checked + .slider {
  background-color: #cfde00; }

input:focus + .slider {
  box-shadow: 0 0 1px #cfde00; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.up {
  border-radius: 20px;
  background: linear-gradient(145deg, #2a2a2a, #232323);
  box-shadow: 18px 18px 35px #212121, -18px -18px 35px #2d2d2d;
  border: 1px solid #272727;
  margin: 20px; }

.contenedor {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 70vh; }
  .contenedor .text-index {
    text-decoration: none;
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    margin: auto; }

.cajon {
  margin: 10px 5%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px; }
  .cajon h2 {
    padding: 0 20px;
    text-align: center;
    font-size: 28px;
    font-weight: 400; }
  .cajon div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .cajon div p {
      background: #4c5c68;
      border-radius: 0 0 20px 20px;
      text-align: center;
      width: 100%;
      color: #f3f3f3;
      padding: 10px;
      border-left: 1px solid #272727;
      border-right: 1px solid #272727; }
    .cajon div a {
      width: 100%;
      font-weight: 600;
      text-align: center;
      font-size: 30px;
      padding: 20px;
      margin-bottom: 10px;
      color: #f3f3f3; }
      .cajon div a:hover {
        text-decoration: none;
        cursor: pointer;
        color: #cfde00; }
    .cajon div .btn-izq,
    .cajon div .btn-izq:hover {
      border-radius: 0 0 0 20px; }
    .cajon div .btn-der,
    .cajon div .btn-der:hover {
      border-radius: 0 0 20px 0; }

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

@media (min-width: 900px) {
  .contenedor {
    width: auto;
    margin: 0 90px 90px;
    height: calc(100vh-270px); }

  .cajon {
    width: 25%;
    margin: 10px 2.5%;
    padding-top: auto;
    height: 25vh; }
    .cajon h2 {
      font-size: 30px;
      font-weight: 600; } }
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  margin-bottom: 60px; }
  .list .cuadro {
    width: 45%;
    padding: 20px; }
    .list .cuadro .cuadro-interno {
      height: 330px;
      border-radius: 5px;
      background: linear-gradient(145deg, #2a2a2a, #232323);
      box-shadow: 9px 9px 18px #1c1c1c, -9px -9px 18px #323232;
      border: none;
      justify-content: space-between;
      display: flex; }
      .list .cuadro .cuadro-interno .div-imagen {
        padding: 10px;
        width: 36%; }
        .list .cuadro .cuadro-interno .div-imagen img {
          max-width: 100%;
          height: auto;
          border-radius: 10px; }
      .list .cuadro .cuadro-interno .texto-cuadro {
        width: 60%;
        margin: 10px 20px 10px 10px;
        padding-left: 10px; }
        .list .cuadro .cuadro-interno .texto-cuadro .card-block {
          height: 60%; }
          .list .cuadro .cuadro-interno .texto-cuadro .card-block .titulo {
            height: auto; }
          .list .cuadro .cuadro-interno .texto-cuadro .card-block p {
            border: 1px solid #272727;
            height: auto; }

.up2 {
  border-radius: 2px;
  background: #2b2b2b;
  box-shadow: inset 25px 25px 44px #1e1e1e, inset -25px -25px 44px #303030;
  margin-top: 10px;
  padding-left: 10px; }

.cont-botones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40%; }
  .cont-botones .ver-ficha {
    width: 100%;
    background-color: #cfde00;
    color: #272727;
    border: none;
    border-radius: 5px;
    padding: 5px 15px; }
    .cont-botones .ver-ficha:hover {
      color: #f3f3f3;
      background-color: #cfde00; }
    .cont-botones .ver-ficha:active {
      border: 2px solid #4c5c68; }
  .cont-botones .delete {
    width: 100%;
    margin-top: 10px;
    margin-right: 4.969px;
    margin-bottom: 10px;
    background: #4c5c68;
    border: none; }

.buscador {
  display: flex;
  justify-content: center; }
  .buscador .form-buscar {
    width: 50%;
    background: #cfde00;
    padding: 5px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between; }
    .buscador .form-buscar .input-buscar {
      width: 70%;
      color: #272727;
      border-radius: 5px; }
    .buscador .form-buscar button {
      padding: 5px 12px;
      width: 20%;
      color: #272727; }
    .buscador .form-buscar .boton {
      margin: 0;
      margin-right: 20px; }
      .buscador .form-buscar .boton:hover {
        color: #f3f3f3; }

.boton {
  margin-bottom: 40px; }

.info-inversion {
  background-color: #cfde00;
  padding: 30px 0;
  display: flex;
  flex-direction: column; }
  .info-inversion h2 {
    display: block;
    text-align: center;
    color: #272727;
    margin: 20px; }
  .info-inversion .info-ppal {
    background-color: #cfde00;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .info-inversion .info-ppal p {
      color: #272727;
      margin: 0;
      padding: 10px; }
      .info-inversion .info-ppal p a {
        text-decoration: none;
        color: #272727; }
    .info-inversion .info-ppal .info-inversion-div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin-bottom: 15px; }
      .info-inversion .info-ppal .info-inversion-div ul {
        width: 50%;
        margin-left: 12%; }
      .info-inversion .info-ppal .info-inversion-div span {
        color: #272727; }
    .info-inversion .info-ppal .inmueble-coinver {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center; }
      .info-inversion .info-ppal .inmueble-coinver .lista-inmuebles .modal-div,
      .info-inversion .info-ppal .inmueble-coinver .lista-co-inver .modal-div {
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        background: #00000025;
        z-index: 1; }
        .info-inversion .info-ppal .inmueble-coinver .lista-inmuebles .modal-div .modal,
        .info-inversion .info-ppal .inmueble-coinver .lista-co-inver .modal-div .modal {
          background: #2b2b2b;
          position: fixed;
          top: 20vh;
          left: 35vw;
          padding: 30px;
          width: 35vw;
          height: 60vh;
          border-radius: 5px;
          border: 2px solid white;
          overflow: auto;
          z-index: 2; }
          .info-inversion .info-ppal .inmueble-coinver .lista-inmuebles .modal-div .modal li p,
          .info-inversion .info-ppal .inmueble-coinver .lista-co-inver .modal-div .modal li p {
            color: white; }
      .info-inversion .info-ppal .inmueble-coinver .btn-inversion,
      .info-inversion .info-ppal .inmueble-coinver .btn-danger {
        border-radius: 50px;
        background: #cfde00;
        box-shadow: 15px 15px 30px #b4c100, -15px -15px 30px #eafb00;
        text-decoration: none;
        color: black;
        margin: 15px;
        padding: 20px;
        border: none; }
      .info-inversion .info-ppal .inmueble-coinver .btn-inversion:hover {
        border-radius: 50px;
        background: #cfde00;
        box-shadow: inset 15px 15px 30px #b4c100, inset -15px -15px 30px #eafb00;
        font-weight: lighter; }
      .info-inversion .info-ppal .inmueble-coinver .btn-danger:hover {
        border-radius: 50px;
        background: #ff0000;
        box-shadow: inset 15px 15px 30px #de0000, inset -15px -15px 30px #ff0000; }
      .info-inversion .info-ppal .inmueble-coinver .botones-inversion {
        display: flex;
        justify-content: space-between;
        align-items: center; }
    .info-inversion .info-ppal .alerta-cumplimiento {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      margin-top: 20px;
      align-self: center;
      border-radius: 8px;
      background: #cfde00;
      box-shadow: inset 9px 9px 18px #acb800, inset -9px -9px 18px #f2ff00; }
      .info-inversion .info-ppal .alerta-cumplimiento .info-cumplimiento {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
      .info-inversion .info-ppal .alerta-cumplimiento .indicador {
        width: 60%;
        display: flex;
        align-items: center; }
        .info-inversion .info-ppal .alerta-cumplimiento .indicador .barra {
          width: 80%;
          height: 40px; }
      .info-inversion .info-ppal .alerta-cumplimiento .alerta-inmueble {
        width: 100%;
        display: flex;
        justify-content: center; }
        .info-inversion .info-ppal .alerta-cumplimiento .alerta-inmueble p {
          width: 60%;
          text-align: center;
          padding: 10px;
          background: #7c3030;
          border: 2px solid #272727;
          color: #f3f3f3; }
      .info-inversion .info-ppal .alerta-cumplimiento p span {
        color: #272727; }

.pagos {
  background-color: #272727;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .pagos ul {
    width: 60%; }
    .pagos ul li {
      display: flex;
      justify-content: space-around; }

.edit-pp {
  background-color: #272727;
  padding: 30px 0; }
  .edit-pp h2 {
    display: block;
    text-align: center;
    color: #f3f3f3;
    margin: 20px; }
  .edit-pp .botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .edit-pp .botones h2 {
      margin: 15px; }
    .edit-pp .botones ul {
      width: 80%; }
      .edit-pp .botones ul li {
        display: flex;
        justify-content: space-around; }
        .edit-pp .botones ul li p {
          display: inline; }

.banner-ppal img {
  width: 100%; }

.novedades {
  background: #2b2b2b;
  margin: 0;
  padding: 60px 15%; }
  .novedades h2 {
    color: #f3f3f3;
    font-size: 42px;
    text-align: center; }
  .novedades .noticias {
    margin-bottom: 60px;
    display: flex;
    justify-content: center; }
    .novedades .noticias .imagen-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
      .novedades .noticias .imagen-col img {
        height: 200px;
        width: auto;
        margin: 20px; }
    .novedades .noticias .texto-col {
      padding: 20px;
      margin: 50px;
      width: 60%; }
      .novedades .noticias .texto-col h3 {
        text-align: center; }
      .novedades .noticias .texto-col p {
        text-align: justify; }

.back {
  position: relative;
  height: 1px; }
  .back .back-button {
    margin: 0;
    padding: 10px 20px;
    position: absolute;
    top: 55px;
    left: 15px; }
    .back .back-button:hover {
      background: #4c5c68;
      text-decoration: none; }
