<nav>
    <a href="/menuppal">
        <img src="/uploads/logo.png" class="logo" alt="Logo FNF">
    </a>
    {{#if user}}
    <div>
        <a href="/usuarios/registro">Crear usuario</a>
        <a href="/">Cerrar sesión</a>
    </div>
    {{else}}
    <div>
        <a href="/client/login">Iniciar sesión</a>
        <a href="/usuarios/login">Login administrador</a>
    </div>
    {{/if}}

</nav>