<nav>
    <a href="/menuppal">
        <img src="/uploads/logo.png" class="logo" alt="Logo FNF">
    </a>
    {{#if user}}
    <div>
        <img id="img" src="/uploads/sinfoto.png" alt="Foto usuario" class="img_usuario">
        <a href="/usuarios/perfil"> Hola, {{user.nombre}} {{user.apellido}}</a>
        <a href="/usuarios/logout">Cerrar sesión</a>
        <a href="/usuarios/registro">Crear usuario</a>
    </div>
    {{else}}
    <div>
        <a href="/client/login">Inversionista</a>
        <a href="/usuarios/login">Administrador</a>
    </div>
    {{/if}}

</nav> 