    <h1 id="titulo-h1">Fondo de inversión FNF</h1>

    <div class="contenedor up" id='login'>
        <form id="form1" class="form-login" action="/usuarios/login" method="POST">
            <h2>Iniciar sesión</h2>
            <div class="login">
                <input id="usuario" class="input-inver" type="email" name="correo" placeholder="Correo" autofocus
                    required>
                <input id="contraseña" class="input-inver" type="password" name="contrasena" placeholder="Contraseña"
                    required>
                <button id="btn-login" type="submit" class="boton">
                    Iniciar sesión
                </button>
            </div>
        </form>
    </div>