    <h1> Fondo de inversión FNF</h1>
<div class="contenedor up" id="usuario-form">
        <form id="form2" class="form-login" action="/usuarios/registro" method="POST">
            <h2>Crear Usuario</h2>
            <div class="login">
                <input id="nombre_u" class="input-inver" type="text" name="nombre" placeholder="Nombre" value="{{nombre}}" autofocus
                    required>
                <input id="apellido_u" class="input-inver" type="text" name="apellido" placeholder="Apellido" value="{{apellido}}" autofocus
                    required>
                <input id="telefono_u" class="input-inver" type="text" name="telefono" placeholder="Teléfono" value="{{telefono}}" autofocus
                r   equired>
                <input id="correo_u" class="input-inver" type="email" name="correo" placeholder="Correo" value="{{correo}}" autofocus
                    required>
                <input id="contrasena_u" class="input-inver" type="password" name="contrasena"  placeholder="Contraseña" required>
                <input id="contrasena2_u" class="input-inver" type="password" name="confirm_contrasena" placeholder="Repita la contraseña" autofocus
                    required>
                <button type='submit' id="crear_u" class="boton">
                    Crear usuario
                </button>
            </div>
        </form>
    </div>