.info-ppal{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 300px;
    background: $negro;
    img{
        width: 25%;
    }
    p{
        margin: 20px;
    }
    button{
        color: $blanco;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 20px;
        padding: 10px 20px;
        &:hover{
            background: $verde;
            color: $negro;
        }
    }
}
.info-secun{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 200px;
    background: $verde;
    ul li p{
        color: $negro;
        margin: 20px;  
        
    }
}