.info-inversion {
  background-color: $verde;
  padding: 30px 0;
  display: flex;
  flex-direction: column;

  h2 {
    display: block;
    text-align: center;
    color: $negro;
    margin: 20px;
  }

  .info-ppal {
    background-color: $verde;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
      color: $negro;
      margin: 0;
      padding: 10px;
    }

    .info-inversion-div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin-bottom: 15px;

      ul {
        width: 50%;
        margin-left: 12%;
      }
      span{
        color: $negro;
      }
    }

    .inmueble-coinver {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;

      .lista-inmuebles,
      .lista-co-inver {
        ul {
          display: none;
          position: fixed;
          background: $gris-os;
          padding: 30px;
          top: 20vh;
          left: 30vw;
          width: 35vw;
          height: 60vh;
          border-radius: 5px;
          border: 2px solid white;
          overflow: auto;
          li p{
            color: white;
          }
        }
      }
      

      .btn-inversion,
        .btn-danger {
          border-radius: 50px;
          background: #CFDE00;
          box-shadow: 15px 15px 30px #b4c100,
            -15px -15px 30px #eafb00;
          text-decoration: none;
          color: black;
          margin: 15px;
          padding: 20px;
          border: none;

        }

        .btn-inversion:hover {
          border-radius: 50px;
          background: #CFDE00;
          box-shadow: inset 15px 15px 30px #b4c100,
            inset -15px -15px 30px #eafb00;
          font-weight: lighter;
        }
        .btn-danger:hover {
          border-radius: 50px;
          background: #ff0000;
          box-shadow: inset 15px 15px 30px #de0000,
            inset -15px -15px 30px #ff0000;
        }
      .botones-inversion {
        display: flex;
        justify-content: space-between;
        align-items: center;
      
      }
    }


  }
}

.pagos {
  background-color: $negro;
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    width: 60%;

    table {
      width: 100%;
      display: flex;
      justify-content: space-around;

      tr {
        td {}
      }
    }
  }
}

.edit-pp {
  background-color: $negro;
  padding: 30px 0;

  h2 {
    display: block;
    text-align: center;
    color: $blanco;
    margin: 20px;
  }

  .botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      margin: 15px;
    }

    ul {
      width: 80%;

      li {
        display: flex;
        justify-content: space-around;

        p {
          display: inline;
        }
      }

    }

  }
}