.info-ppal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  background: $negro;
  width: 80%;
  margin: auto;
  img {
    width: 20%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 40px;
  }

  p {
    color: $blanco;
    margin: 20px;
    font-size: 20px;
  }

  button {
    color: $negro;
    background: $verde;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 10px 20px;

    &:hover {
      background: $gris-os;
      color: $blanco;
    }
  }

  .botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    p {
      margin: 10px;
    }

    .panel {
      margin-top: -20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .lista-sel {
      color: rgb(0, 0, 0);
      height: 30px;
      border-radius: 5px;
      background: $blanco;

      option {

        color: black;
      }
    }
  }
}

.info-secun {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  background: $verde;

  ul li p {
    color: $negro;
    margin: 20px;
    font-size: 20px;
  }
}

.sec-inversiones {
  .inversiones {
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;

      h2 {
        margin-top: 30px;
        text-align: center;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        li {
          width: 30%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 20px;
          padding: 1%;
          border-radius: 5px;
          background: linear-gradient(145deg, #2a2a2a, #232323);
          box-shadow: 9px 9px 18px #1c1c1c, -9px -9px 18px #323232;
          border: none;
         
          a{
            background: $verde;
            color: $negro;
            text-align: center;
            height: 40px;
            padding-top: 5px;
            width: 150px;
            padding: auto;
            border-radius: 5px;
            &:hover{
              text-decoration: none;
              background-color: $gris-os;
              color: $blanco;
            }
          }
        }
      }
    }
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: $verde;
}

input:focus+.slider {
  box-shadow: 0 0 1px $verde;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}