
header{
    width: 100%;
    background-color:$verde;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    a{
        color:$negro;
        padding: 10px;

        &:hover {
            cursor: pointer;
            color:$blanco;
        }
    }
}