.list-inversionistas {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2%;

  .cuadro-inver {
    width: 50%;
    padding: 20px;
    .cuadro-interno {
      height: 370px;
      border-radius: 5px;
      background: linear-gradient(145deg, #2a2a2a, #232323);
      box-shadow: 9px 9px 18px #1c1c1c, -9px -9px 18px #323232;
      border: none;
      display: flex;
      justify-content: space-between;
      .div-imagen {
        padding: 10px;
        img {
          width: 200px;
          height: auto;
          border-radius: 10px;
        }
      }
      .texto-cuadro-inver {
        width: 50%;
        padding: 10px 10px 10px -10px;
        .card-block {
          height: 60%;
        }
      }
    }
  }
}

.up2 {
  border-radius: 2px;
  margin-top: 10px;
  border: 1px solid black;
  padding-left: 10px;
  background: linear-gradient(145deg, #2a2a2a, #232323);
  box-shadow: 9px 9px 18px #1c1c1c, -9px -9px 18px #323232;
}
.cont-botones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 40%;
  .ver-ficha {
    width: 100%;
    margin-top: 10px;
  }
  .delete {
    width: 100%;
    margin-top: 10px;
    margin-right: 4.969px;
    margin-bottom: 10px;
  }
}
