.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  margin-bottom: 60px;

  .cuadro {
    width: 45%;
    padding: 20px;

    .cuadro-interno {
      height: 330px;
      border-radius: 5px;
      background: $input-bg;
      box-shadow: 9px 9px 18px #1c1c1c, -9px -9px 18px #323232;
      border: none;
      justify-content: space-between;
      display: flex;

      .div-imagen {
        padding: 10px;
        width: 36%;

        img {
         max-width: 100%;
          height: auto;
          border-radius: 10px;
        }
      }

      .texto-cuadro {
        width: 60%;
        margin: 10px 20px 10px 10px;
        padding-left: 10px;

        .card-block {
          height: 60%;
          .titulo{
            height: auto;
          }

          p {
            border: 1px solid $negro;
            height: auto;
                    }
        }
      }
    }
  }
}

.up2 {
  border-radius: 2px;
  background: #2b2b2b;
  box-shadow: inset 25px 25px 44px #1e1e1e,
    inset -25px -25px 44px #303030;
  margin-top: 10px;
  padding-left: 10px;
}

.cont-botones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40%;

  .ver-ficha {
    width: 100%;
    background-color: $verde;
    color: $negro;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    &:hover{
      color: $blanco;
      background-color: $verde;
    }
    &:active{
      border: 2px solid $gris-cla;
    }

  }
  .delete {
    width: 100%;
    margin-top: 10px;
    margin-right: 4.969px;
    margin-bottom: 10px;
    background: $gris-cla;
    border: none;
  }
}
.buscador{
  display: flex;
  justify-content: center;
  .form-buscar{
    width: 50%;
    background: $verde;
    padding: 5px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    .input-buscar{
      width: 70%;
      color: $negro;
      border-radius: 5px;
    }
    button{
      padding: 5px 12px;
      width: 20%;
      color: $negro;
    }
    .boton{
      margin: 0;
      margin-right: 20px;
      &:hover{
        color: $blanco;
      }
    }
  }
}