<div class="form" id="form-edit-inver">
    <div class="columna">
        <form action="/noticia/edit/{{noticia._id}}?_method=PUT" method="POST" enctype="multipart/form-data"
            id="inver-form" class="form-forms">
            <input type="hidden" name="_method" value="PUT">

            <h1 id="titulo1-h1">Actualizar noticia</h1>
            <div class="contenedor-form">
                <div class="columna-1">
                    <div class="form-div">
                        <p>Titulo: </p>
                        <input type="text" name="titulo" value="{{noticia.titulo}}" class="input-form" autofocus
                            required>
                    </div>
                    <div class="form-div">
                        <p>Descripci칩n novedades: </p>
                        <textarea  class="input-form noti-texto" name="texto" value=   "{{noticia.texto}}">
                        </textarea>
                    </div>
                </div>
                <div class="columna-1">

                    <div class="input-group mb-3">
                        <input type="file" name='image' class="custom-file-input" id="image">
                        <label for="img1" class="custom-file-label">Subir im치gen 1</label>
                    </div>
                    {{!-- <div class="input-group mb-3">
                        <input type="file" name='img2' class="custom-file-input" id="image">
                        <label for="img2" class="custom-file-label">Subir im치gen 2</label>  
                    </div>
                    <div class="input-group mb-3">
                        <input type="file" name='img3' class="custom-file-input" id="image">
                        <label for="img3" class="custom-file-label">Subir im치gen 3</label>
                    </div> --}}
                </div>
            </div>
            <button class="boton" type="submit">
                Guardar Noticia
            </button>
        </form>
    </div>
</div>